* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #111d4a;
  --clr-white: #eee;
}
body {
  background-color: var(--bg-color);
}
search{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: center;
    width: 100%;
}
form input{
    height: 5vh;
    width: 50%;
}